<div class="row">
  <div class="large-12">
    <h1>Categories</h1>

    <%- if !@categories.empty? -%>
      <table>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th></th>
        </tr>

        <%- @categories.each do |category| -%>
          <tr>
            <td><%= link_to category.name, '/categories/' + category.to_param %></td>
            <td>
              <%= link_to 'Delete',
                '/categories/' + category.to_param,
                method: :delete %>
            </td>
          </tr>
        <%- end -%>
      </table>

      <%= paginate @categories %>
    <%- end -%>
  </div>
</div>
